.Room {
  background-color: #E3E3E3;
  min-width: 800px;
  margin: 180px 0px 0px 10px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Chore {
  background-color: white;
  width: 90%;
  height: 100px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ChoreLeft {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

p {
  margin: 15px 0px 0px 50px;
}
