.SideNav {
  background-color: #262453;
  height: 1000px;
  width: 300px;
}

p {
  font-size: 18px;
  color: white;
}

.NavItems {
  font-weight: bold;
}

.AddRooms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background-color: white;
  border-radius: 5px;
  margin: 15px 30px 0px 0px;
}
