.SideNav {
  background: rgba(15, 176, 187, .5);
  height: 1190px;
  width: 250px;
  padding-left: 10px;
}
.navRoommates {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}
.roomsBtn {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}
p.roommates {
  font-size: 18px;
  padding-left: 10px;
  color: white;
}
p.roommates:hover {
  color: #f1931f;
}

.NavItems {
  font-weight: bold;
}

.AddRooms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.roomsBtn {
  margin-bottom: 5px;
}
button.addRoomBtn {
 margin-left: 12px;
}
.NavRooms {
  font-size: 18px;
  padding-left: 10px;
}
p.sideNavRooms {
  color: white;
}
p.sideNavRooms:hover {
  color: #f1931f;
}
.sideNavRoomBtn {
  padding-top: 21px;
  padding-right: 10px;
}
.sideNavAddRoomInput {
  font-size: 14px;
  border-radius: 10px;
}
.formAddRoom {
  padding-right: 5px;
}
.sideNavHousehold {
  font-size: 22px;
  color: #0fb0bb;
  font-weight: bold;
}
.dashboardLogo {
  padding-top: 10px;
}
.addRoomTrashBox {
}
.trashBinBtn {
  float: right;
  margin-right: 10px;
}
button.trashBinBtn:hover {
  color: white;
  background: #ff6961;
}
button.trashBinBtn {
  border-radius: 5px;
  background: white;
  border: 2px solid #0fb0bb;
}
